VITE_PAYHERO_AUTH_TOKEN=Basic OWZZWVUwTG9SSkdnZ0pvUmhwQ3M6SDREdWwxQTVTT0N2QksxUk85dTE1eUJoazFXWHhJNFZMcm80Sks0MA==
VITE_PAYHERO_CHANNEL_ID=3838
VITE_PAYHERO_ACCOUNT_ID=3278
VITE_PAYHERO_CALLBACK_URL=http://localhost:5000/api/payment-callback
PAYHERO_AUTH_TOKEN=$VITE_PAYHERO_AUTH_TOKEN
PAYHERO_API_URL=https://backend.payhero.co.ke
